*::-webkit-scrollbar {
	scrollbar-width:thin;
}
*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
	background: #333333; 
	border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
	background: #222222;
}
#app{
    display:flex;
    flex-direction:column;
    background:#181818;
    color:rgba(235, 235, 235, .64);
}
.TText{
    background:#000;
    border:2px solid #BBB;
    color:#fff;
    border-radius:2px;
    padding:10px;
    line-height:1.2;
}

.sectionTop{
    height:90px;
    flex-shrink:0;
    border-bottom:1px solid #888888;
    display:flex;
    justify-content:space-between;
    .stats{
        height:100%;
        display:flex;
        align-content:flex-start;
        flex-flow:column wrap;
        /*justify-content:space-around;*/
    }
    .stats > *:nth-child(2n+1){
        border-bottom:1px solid #888888;
    }
    .stats > *:nth-child(2n){
        border-top:1px solid #888888;
    }
    .resourceItem{
        padding:0 30px;
        font-size:1.4rem;
        min-width:250px;
        /*height:33.4%;*/
        overflow:hidden;
        border-right:1px solid #888888;
        border-left:1px solid transparent;
        flex-basis:50%;
        display:flex;
        align-items:center;
        position:relative;
    }
    .menu{
        width:300px;
        height:100%;
        display:flex;
        flex-wrap:wrap;
        align-content:start;
        font-size:0.7rem;
    }
    .menu > div{
        padding:2px;
        height:calc(100%/3);
        width:calc(100%/3);
    }
    .menu > div > div{
        height:100%;
        display:flex;
        align-items:center;
        justify-content:center;
    }
}
.showStats{
    text-align:center;
    overflow-y:auto;
    height:100%;
    padding-bottom:100px;
}
.statsItem{
    padding:0 10px;
    margin:2px;
    font-size:1.4rem;
    height:50%;
    display:flex;
    justify-content:center;
    background:#555;
    border:2px solid #222;
}
.sectionMain{
    min-height:0;
    flex:1 1 auto;
    display:flex;
}
.innerLeft{
    max-width:460px;
    width:100%;
    height:100%;
    overflow-y:scroll;
}
.slimes{
    overflow:hidden;
    width:100%;
    height:100%;
    position:relative;
}
.slime{
    position:absolute;
    --rotVar:0deg;
}
.slime > *{
    position:absolute;
    transform:translate(-50%, -50%);
    top:50%;
    left:50%;
}
.slime > .body{
    transform-origin:0% 0%;
    transform:rotate(var(--rotVar)) translate(-50%, -50%);
    border-radius:100%;
    aspect-ratio:1/1;
    transition: background 5s;
    max-width:250px;
    min-width:20px;
}
.slime > .dead{
    background:#232323;
    border:2px solid #666666;
}
.self{
    top:150px;
    left:50%;
}
.self .body.mimicRival1{
    background:#233023;
}
.self .body.mimicRival2{
    background:#302323;
}
.self .body{
    background:#121212;
    border:1px solid #666666;
    animation: slimeAnim 60s infinite;
}
.rival1{
    top:300px;
    left:15%;
    --rotVar:30deg;
}
.rival1 .body:not(.dead){
    background:#233023;
    border:1px solid #666666;
    animation: slimeAnim 60s infinite 5s;
}
.rival2{
    top:350px;
    left:72%;
    --rotVar:-45deg;
}
.rival2 .body:not(.dead){
    background:#302323;
    border:1px solid #666666;
    animation: slimeAnim 60s infinite 15s;
}
.attackProgress{
    min-width:50px;
    max-width:100px;
    width:90%;
    aspect-ratio:1/1;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) rotate(calc(0deg - calc(var(--rotVar))));
}
.test{
    background-image:radial-gradient(circle, transparent 50%, #fff 50%, #fff 100%);
    /*background:radial-gradient(circle at 50%, #fff, #fff 50%, transparent 50%, transparent 100%);*/
}
/*.self::after{
    content:'';
    background:#121212;
    display:block;
    width:100%;
    height:100%;
    border-radius:100%;
    border:1px solid #666666;
    transform:translate(-50%, -50%);
    animation: slimeAnimEaseOut 10s infinite;
}*/
/*
translate(+ >, +, v)
translate(- <, -, ^)
*/
@keyframes slimeAnim {
    0% {
        transform:rotate(var(--rotVar)) translate(-50%, -50%);
    }
    10% {
        transform:rotate(var(--rotVar)) translate(-44%, -46%) scale(1.01, 1);
    }
    20% {
        transform:rotate(var(--rotVar)) translate(-48%, -44%) scale(1.015, 1.01);
    }
    30% {
        transform:rotate(var(--rotVar)) translate(-52%, -48%) scale(1.017, 1.015);
    }
    40% {
        transform:rotate(var(--rotVar)) translate(-56%, -52%) scale(1.012, 1.08);
    }
    45% {
        transform:rotate(var(--rotVar)) translate(-58%, -54%) scale(1.008, 1.04);
    }
    50% {
        transform:rotate(var(--rotVar)) translate(-56%, -56%) scale(0.998, 1.02);
    }
    60% {
        transform:rotate(var(--rotVar)) translate(-52%, -57%) scale(0.99, 1);
    }
    65% {
        transform:rotate(var(--rotVar)) translate(-50%, -55%) scale(0.985, 1.01);
    }
    70% {
        transform:rotate(var(--rotVar)) translate(-47%, -57%) scale(0.98, 0.995);
    }
    80% {
        transform:rotate(var(--rotVar)) translate(-45%, -54%) scale(0.975, 0.985);
    }
    90% {
        transform:rotate(var(--rotVar)) translate(-47%, -56%) scale(0.985, 1);
    }
    94% {
        transform:rotate(var(--rotVar)) translate(-46%, -53%) scale(1, 1.02);
    }
    97% {
        transform:rotate(var(--rotVar)) translate(-48%, -51%) scale(1.01, 1.01);
    }
    100% {
        transform:rotate(var(--rotVar)) translate(-50%, -50%) scale(1, 1);
    }
}
/*@keyframes slimeAnim {
    0% {
        transform:rotate(var(--rotVar)) translate(0%, 0%);
    }
    10% {
        transform:rotate(var(--rotVar)) translate(6%, 4%) scale(1.01, 1);
    }
    20% {
        transform:rotate(var(--rotVar)) translate(2%, 6%) scale(1.015, 1.01);
    }
    30% {
        transform:rotate(var(--rotVar)) translate(2%, 2%) scale(1.017, 1.015);
    }
    40% {
        transform:rotate(var(--rotVar)) translate(6%, -2%) scale(1.012, 1.08);
    }
    45% {
        transform:rotate(var(--rotVar)) translate(8%, -4%) scale(1.008, 1.04);
    }
    50% {
        transform:rotate(var(--rotVar)) translate(6%, -6%) scale(0.998, 1.02);
    }
    60% {
        transform:rotate(var(--rotVar)) translate(2%, -7%) scale(0.99, 1);
    }
    65% {
        transform:rotate(var(--rotVar)) translate(0%, -5%) scale(0.985, 1.01);
    }
    70% {
        transform:rotate(var(--rotVar)) translate(3%, -7%) scale(0.98, 0.995);
    }
    80% {
        transform:rotate(var(--rotVar)) translate(5%, -4%) scale(0.975, 0.985);
    }
    90% {
        transform:rotate(var(--rotVar)) translate(3%, -6%) scale(0.985, 1);
    }
    94% {
        transform:rotate(var(--rotVar)) translate(4%, -3%) scale(1, 1.02);
    }
    97% {
        transform:rotate(var(--rotVar)) translate(2%, -1%) scale(1.01, 1.01);
    }
    100% {
        transform:rotate(var(--rotVar)) translate(0%, 0%) scale(1, 1);
    }
}*/


.innerMain{
    flex:1;
}
.skills{
    display:flex;
    flex-wrap:wrap;
    overflow-y:auto;
    align-content:flex-start;
    height:100%;
}
.studyElem{
    border:1px solid #777777;
    background:#444444;
    border-radius:5px;
    height:30vh;
    min-height:80px;
    max-height:100px;
    position:relative;
    overflow:hidden;
    margin:25px;
    width:300px;
    cursor:pointer;
}
.studyElem.locked{
    background:#222222;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:initial;
    div{
        opacity:0;
        transition:0.5s;
        font-size:3rem;
    }
    &:hover div{
        opacity:1;
    }
}
.settings{
    height:100%;
    width:100%;
    float:left;
    .button{ width:160px; margin:0 15px; display:inline-block; padding:10px 0px;}
    .saveArea{ max-width:600px; width:100%; max-height:200px; height:100%; display:block; margin:15px; }
}

.dark{
    color:#000000;
}
.front{
    z-index:10;
}
.skill{
    color:#AAAACC;
}
.tag{
    color:#CCCC99;
}
.stat{
    color:#99CC99;
}

.button{
    cursor:pointer;
    position:relative;
}
.button.style-1{
    background: #999;
    border: 1px solid #444;
    color: #000;
    text-align: center;
}
.button.style-1:hover, .button.style-1:focus, .button.style-1.selected{
    background:#666;
}
.warnNotif{
    position:absolute;
    transform:translate(-50%, -50%);
    top:10px;
    left:25px;
    font-size:2rem;
    color:#AA0000;
}
.warnNotif.neutral{
    color:#8888FF;
}
.statTitle{
    font-size:1.2rem;
    margin-top:20px;
}
.deadRival{
    background:#444444;
    color:#888888;
    /*background: linear-gradient(45deg, transparent 49%, 
        #552222 49%, 
        #552222 51%,  
        transparent 51%),
    linear-gradient(-45deg, transparent 49%, 
        #552222 49%, 
        #552222 51%,  
        transparent 51%);*/
}